<h1>{{text}}</h1>
	
	  <table>
		<thead>
			<tr>
				<th>
					No
				</th>			
				<th>
					<a (click)="sortOrderAscending = !sortOrderAscending;sort('parentWeb',sortOrderAscending);" >Site</a>
				</th>
			
				<th>
					<a (click)="sortOrderAscending = !sortOrderAscending;sort('title',sortOrderAscending);" >Title</a>
				</th>
				<th>
					<a (click)="sortOrderAscending = !sortOrderAscending;sort('itemCount',sortOrderAscending);" >ItemCount</a>
				</th>
				<th>
					<a (click)="sortOrderAscending = !sortOrderAscending;sort('hiddenProp',sortOrderAscending);" >Hidden</a>
				</th>
				<th>
					<a (click)="sortOrderAscending = !sortOrderAscending;sort('enableVersioning',sortOrderAscending);" >Versioning enabled</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let list of lists; let i = index;let odd=odd; let even=even;" title="{{list.description}}" [ngClass]="{ odd: odd, even: even }" >
				<td>
					{{i+1}}
				</td>
				<td>
					<a href="{{list.parentWeb}}">{{list.parentWeb}}</a>
				</td>			
				<td>
					<span *ngIf="list.description">*</span><a href= "{{list.url}}">{{list.title}}</a>
				</td>
				<td [ngStyle]="getListStyle(list)">
					{{list.itemCount|number}}
				</td>	
				<td>
					<span *ngIf="list.hiddenProp">Hidden</span>
				</td>	
				<td>
					<span *ngIf="list.enableVersioning">Enabled</span>
				</td>	
			</tr>
		</tbody>
		</table>
		Webs:
		<ul>
		  <li *ngFor="let subsite of subsites" >
			<span >{{subsite.title}}</span> {{subsite.url}}
		  </li>
		</ul>